.App {
  width: 100%;
  height: 100vh;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111;
  color: #fff;
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 10;
  .logo {
    h3 {
      font-size: 32px;
      margin: 0;
      padding: 0;
      color: #fff;
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: inherit;
        }
      }
    }
  }
}

nav {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 30px;
      a {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
          color: violet;
        }
      }
    }
  }
}

.container {
  height: 100vh;
  padding: 120px;
  h1 {
    text-align: center;
  }
}

.lower-page {
  max-width: 600px;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 576px) {
  header {
    height: 54px;
    .logo {
      h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        color: white;
      }
    }
  }
  nav {
    ul {
      margin: 0;
      padding: 0;
      li {
        margin-right: 20px;
        a {
          font-size: 16px;
        }
        &:last-child {
          margin-right: 0;
        }
        &:first-child {
          display: none;
        }
      }
    }
  }
  .container {
    padding: 80px;
  }
}

.profileImage {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.iconLink {
  color: #93a5b1;
  margin: 0 2px;
  &:hover {
    color: #000000d1;
  }
  svg {
    height: 16px;
    width: auto;
    fill: #93a5b1;
    margin-top: -2px;
    &:hover {
      fill: #000000d1;
    }
  }
}

.service {
  margin-top: 80px;
  margin-bottom: 60px;
  a {
    text-decoration: none;
  }
  .text-left {
    text-align: left !important;
  }
  small {
    font-size: 0.8rem;
  }
}

#skill {
  img {
    object-fit: cover;
    margin-bottom: 12px;
    margin-top: 12px;
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 991px) {
  #skill {
    img {
      max-height: 220px;
      max-width: 220px;
    }
  }
}

html {
  scroll-behavior: auto !important;
}
